# Variables de Entorno - SiGeEt
# Renombrar este archivo a ".env" en producción y llenar los datos

# Configuración de Correo Electrónico (SMTP Gmail / Google Workspace)
EMAIL_HOST_USER=tu_correo@pioix.edu.ar
EMAIL_HOST_PASSWORD=tu_contraseña_de_aplicacion_generada
